@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.contenedor-principa-veterinaria{
    text-align: center;
    margin-top: 20px;
}

.contenedor-principa-veterinaria p{
    margin-top: 30vh;
}

#alineacion-principal{
    font-family: "Segoe UI";
    font-size: 34px;
    color: white;
}

#boton-reservar {
    display: block;
    margin: 0 auto;
    width: 60%;
    background-color: #c3ff9f;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-top: 10vh;
    border-radius: 50px;
    border: 3px solid #c3ff9f;
    font-family:  "Tahoma Black", 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-size: 40px;
}

@media (min-width:200px) {
    #boton-reservar {
        font-size: calc(1.4rem + 0.4vw);
        width: 80%;
    }

    #alineacion-principal{
        font-size: calc(1.4rem + 1vw);
    }
}

@media (min-width:1024px) {
    #boton-reservar {
        font-size: 40px;
        width: 60%;
    }

    #alineacion-principal{
        font-size: 34px;
    }
}