@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

#vacunacion-desparacitacion {
    width: 100%;
    margin: 0 auto;
    background-color: #F2FDF8;
}

#vacunacion-desparacitacion .contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    height: auto;
    width: 70%;
    max-width: 1366px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#texto-vacunacion-desparacitacion {
    min-width: 270px;
    width: 50%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-content:  flex-end; 
    margin-bottom: 40px;
    text-align: justify;
    
}

#texto-vacunacion-desparacitacion div{
    margin: 0 0;
}

#texto-vacunacion-desparacitacion h2{
    font-family: "Segoe UI Semibold";
    font-size: calc(1rem + 0.2vw);
    color: #858585;
}

#texto-vacunacion-desparacitacion p{
    font-family: "Segoe UI Regular";
    font-size: calc(1rem + 0.4vw);
    color: #858585;
    margin-top: 40px;
}

#imagen-vacunacion-desparacitacion {
    min-width: 270px;
    width: 45%;
    max-width: 1200px;
    margin-bottom: 40px;
}

#imagen-vacunacion-desparacitacion h2{
    font-family: "Tahoma Black", 'Noto Sans JP', sans-serif;
    font-size: calc(1.4rem + 0.4vw);
    color:  #4F7778;
}

#imagen-vacunacion-desparacitacion img {
    width: 100%;
    padding-top: 40px;
    height: auto;
}

#texto-vacunacion-desparacitacion a {
    display: block;
    margin: 0 auto;
    min-height: 50px;
    height: auto;
    background-color: #4F7778;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 6px;
    margin-top: 7%;
    border-radius: 50px;
    border: 3px solid #4F7778;
    font-family: "Tahoma Black", 'Source Sans Pro', sans-serif;
    font-size: calc(1.2rem + 0.4vw);
    width: 100%;
    padding: 10px 20px;
}

@media (min-width:200px) {
    #vacunacion-desparacitacion .contenedor {
        justify-content: center;
        flex-wrap: none;
        display: block;
    }

    #texto-vacunacion-desparacitacion h2{
        font-size: calc(1rem + 0.6vw);
    }

    #texto-vacunacion-desparacitacion p {
        font-size: calc(1rem + 0.8vw);
    }

    #contenido-vacunacion-desparacitacion a {
        width: 90%;
        font-size: calc(1.4rem + 0.4vw);
    }

    #imagen-vacunacion-desparacitacion img {
        width: 100%;
    }

    #texto-vacunacion-desparacitacion {
        min-width: 270px;
        width: 100%;
        max-width: 1200px;
        display: block;
    }

    #imagen-vacunacion-desparacitacion {
        width: 100%;
    }
}

@media (min-width:1024px) {
    #vacunacion-desparacitacion .contenedor {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #texto-vacunacion-desparacitacion h2{
        font-size: 19px;
    }

    #texto-vacunacion-desparacitacion p {
        font-size: 22px;
    }

    #imagen-vacunacion-desparacitacion img {
        width: 80%;
    }

    #texto-vacunacion-desparacitacion {
        min-width: 270px;
        width: 50%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        align-content:  flex-end; 
        margin-bottom: 40px;
    }

    #imagen-vacunacion-desparacitacion {
        min-width: 270px;
        width: 45%;
        max-width: 1200px;
        margin-bottom: 40px;
    }
}