#veterinaria {
    width: 100%;
    margin: 0 auto;
    background-color: #F2FDF8;
    position: relative;
    z-index: -2;
}

#veterinaria .contenedor {
    max-width: 1366px;
    display: flex;
    flex-wrap: wrap;
    align-content:  flex-end; 
    margin-top: 30px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#pCotizar{
    text-align: center;
  
    padding-top: 10px;
    color: cadetblue;
 
}

.subcontenedor-veterinaria {
    max-width: 1366px;
    display: flex;
    height: auto;
    margin-bottom: -8.5vh;
}

#imagen-titulo-veterinaria {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    margin-left: -40px;
    z-index: -1;
    text-align: center;
}

#imagen-titulo-veterinaria img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.titulo-imagen-veterinaria h2 {
    font-family: "Tahoma Black", 'Source Sans Pro', sans-serif;
    font-size: calc(1.4rem + 0.4vw);
    color:  #4F7778;
}

#texto-veterinaria {
    min-width: 270px;
    width: 45%;
    max-width: 1280px;
}

#texto-veterinaria p{
    font-family: "Segoe UI Semibold";
    font-size: calc(1rem + 0.4vw);
    color: #858585;
    margin-top: 20px;
    margin-bottom: 30px;
}

#imagen-veterinaria {
    min-width: 270px;
    width: 45%;
    max-width: 1280px;
}

#imagen-veterinaria img{
    margin: 0 auto;
    width: 50%;
    min-width: 270px;
    height: auto;
    float: right;
    margin-top: 20px;
}

.titulo-imagen-veterinaria h2{
    position: relative;
    margin-top: -40px;
}

#imagen-titulo-veterinaria {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    margin-left: -40px;
    z-index: -1;
    text-align: center;
}

#imagen-titulo-veterinaria img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}

@media (min-width:200px) {
    #texto-veterinaria {
        width: 45%;
    }

    #imagen-veterinaria {
        width: 45%;
    }

    .subcontenedor-veterinaria {
        margin-bottom: calc(-6.8vh - 2vw);
    }
}

@media (min-width:585px) {
    #texto-veterinaria {
        width: 100%;
    }

    #imagen-veterinaria {
        width: 100%;
    }

    .subcontenedor-veterinaria {
        margin-bottom: calc(-7.0vh - 2vw);
    }
}

@media (min-width:650px) {
    #texto-veterinaria {
        width: 96%;
    }

    #imagen-veterinaria {
        width: 96%;
    }

    .subcontenedor-veterinaria {
        margin-bottom: calc(-7.5vh - 2vw);
    }
}

@media (min-width:950px)
{
    .subcontenedor-veterinaria {
        margin-bottom: calc(-8vh - 2vw);
    }
}

@media (min-width:1080px)
{
    .subcontenedor-veterinaria {
        margin-bottom: calc(-8.5vh - 2vw);
    }
}

@media (min-width:1200px) {
    #texto-veterinaria {
        width: 91%;
    }

    #imagen-veterinaria {
        width: 91%;
    }

    .titulo-imagen-veterinaria h2 {
        font-size: calc(1.4rem + 0.4vw);
    }

    #texto-veterinaria p{
        font-size: calc(1rem + 0.4vw);
    }
}

@media (min-width:1300px) {

    .titulo-imagen-veterinaria h2 {
        font-size: 28px;
    }

    #texto-veterinaria p{
        font-size: 20px;
    }

    #texto-veterinaria {
        width: 86%;
    }

    #imagen-veterinaria {
        width: 86%;
    }

    .subcontenedor-veterinaria {
        margin-bottom: -85px;
    }
}